<!-- views/partials/head.ejs -->

<meta charset="UTF-8">
<title>Nifty Cup of Love</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/paper/bootstrap.min.css">
<style>
    body    { padding-top:50px; }
</style>