<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Nifty Cup Of Love</title>
	<!-- CSS -->
	<!-- load bootstrap and our own personal stylesheet -->
	<link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cerulean/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">

</head>
<body>

<div class="container">
	<div class="jumbotron">
		<h1>Nifty Cup Of Love</h1>
	</div>
</div>
	
</body>
</html>