<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html lang="en">
<head>
	<% include partials/head %>
</head>
<body class="container">
<header>
	<% include partials/header %>
</header>
<main>
    <main>
    <div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4><i class="fa fa-fw fa-check"></i>What is Nifty</h4>
				</div>
				<div class="panel-body">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
				</div>
			</div>
		</div>
    </div>
</main>
</main>
<footer>
	<% include partials/footer %>
</footer>
</body>
</html>